{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load widget_tweaks %}

<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-edit"></i> Gerenciar setor
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="row">
                <div class="form-group col-md-8">
                    <label>{{ form.nome.label }}</label>
                    {% render_field form.nome class="form-control" %}
                    {% if form.nome.errors %}
                        <label class="text-danger">{{ form.nome.errors.0 }}</label>
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    <label>{{ form.coordenadoria.label }}</label>
                    {% render_field form.coordenadoria class="form-control btn-group" %}
                    {% if form.coordenadoria.errors %}
                        <label class="text-danger">{{ form.coordenadoria.errors.0 }}</label>
                    {% endif %}
                </div>
            </div>                                      
            <div class="text-center">
                <a class="btn text-info" href="{% url 'vinculos:setores_coordenadorias' %}">Voltar</a>
                <button class="btn btn-info" type="submit">Salvar</button>
            </div>
        </form>
    </div>        
</div>

{% if object %}
    <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-users"></i> Usuários relacionados
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Coordenador{{coordenadores|pluralize:"es"}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if coordenadores %}
                        {% for coordenador in coordenadores %}
                            <tr>
                                <td>{{ coordenador.user }}</td>
                                <td><a href="{% url 'accounts:accounts_edit' coordenador.user.pk %}"><i class="fas fa-pencil-alt pull-right"></i></a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="2">Nenhum coordenador associado a este setor</td></tr>
                    {% endif %}
                    </tbody>
                </table>

                <table class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Chefe{{chefes|pluralize}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if chefes %}
                        {% for chefe in  chefes %}
                            <tr>
                                <td>{{ chefe.user }}</td>
                                <td><a href="{% url 'accounts:accounts_edit' chefe.user.pk %}"><i class="fas fa-pencil-alt pull-right"></i></a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="2">Nenhum chefe associado a este setor</td></tr>
                    {% endif %}
                    </tbody>
                </table>

                <table class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Bolsista{{bolsistas|pluralize}}</th>
                            <th>Vigência da bolsa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if bolsistas %}
                        {% for bolsista in  bolsistas %}
                            <tr>
                                <td>{{ bolsista.user }}</td>
                                <td>{{ bolsista.inicio_vigencia|date:"d/m/Y" }} - {{ bolsista.termino_vigencia|date:"d/m/Y" }}</td>
                                <td><a href="{% url 'accounts:accounts_edit' bolsista.user.pk %}"><i class="fas fa-pencil-alt pull-right"></i></a></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr><td colspan="2">Nenhum bolsista associado a este setor</td></tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
{% endif %}

{% endblock %}
