dj-database-url==0.5.0
Django==2.2.20
django-annoying==0.10.4
django-appconf==1.0.2
django-compressor==2.2
django-timedeltatemplatefilter==0.1.2
django-widget-tweaks==1.4.3
ephem==3.7.6.0
icalendar==4.0.3
lunardate==0.2.0
psycopg2-binary==2.7.6.1
pyCalverter==1.6.1
python-dateutil==2.7.5
python-decouple==3.1
pytz==2018.7
rcssmin==1.0.6
rjsmin==1.0.12
rules==2.0.1
six==1.12.0
sqlparse==0.3.0
workalendar==3.2.1
sentry-sdk==0.9.5
