dj-database-url==0.4.2
Django==1.11.3
django-annoying==0.10.3
django-timedeltatemplatefilter==0.1.2
django-widget-tweaks==1.4.1
ephem==3.7.6.0
icalendar==3.11.6
lunardate==0.1.5
pkg-resources==0.0.0
pyCalverter==1.6.1
python-dateutil==2.6.1
python-decouple==3.1
pytz==2017.2
rules==1.2.1
six==1.10.0
workalendar==2.3.1
