
{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load widget_tweaks %}
<div class="card mb-3">
    <div class="card-header">
        <i class="far fa-comment"></i> Gerenciar tipo de justificativa
    </div>
    <div class="card-body">
        <form method="post">
             {% csrf_token %}
             {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <label class="custom-control custom-checkbox">
                        {% render_field form.comprovante_obrigatorio class="custom-control-input" %}                   
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{ form.comprovante_obrigatorio.label }}</span>
                    </label>
                </div>
                <div class="form-group col-md-12">
                    <label>{{ form.nome.label }}</label>
                    {% render_field form.nome class="form-control" %}
                    {% if form.nome.errors %}
                        <label class="error">{{ form.nome.errors.0 }}</label>
                    {% endif %}
                </div>                    
            </div>      
            <div class="text-center">
                <a class="btn text-info" href="{% url 'justificativas:tipo_justificativa' %}">Voltar</a>
                <button class="btn btn-info" type="submit">Salvar</button>
            </div>
        </form>
    </div>
</div> 

{% endblock %}