{% extends "base.html" %}

{% block content %}

{% load static %}
{% load filtros %}

<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-comment-o"></i> Tipos de justificativa
    </div>
    <div class="card-body">               
        
        <div class="table-responsive">        
            {% if object_list %}
            <table class="table">
                <thead class="thead">
                    <tr>                          
                        <th>Nome</th>                          
                        <th>Comprovante obrigatório</th>                          
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipo in object_list %}
                        <tr>
                            <td>{{ tipo }}</td>
                            <td>{{ tipo.comprovante_obrigatorio|translate_boolean }}</td>
                            <td><a href="{% url 'justificativas:tipo_justificativa_edit' tipo.pk %}"><i class="fa fa-pencil pull-right"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <div class="alert alert-warning">
                    <span>Não há tipos de justificativa cadastrados</span>
                </div>
            {% endif %}
        </div>
        <div class="text-center">
            <a class="btn btn-info" href="{% url 'justificativas:tipo_justificativa_create' %}">Novo tipo</a>
        </div>
    </div>
</div>

{% endblock %}