{% extends "base.html" %}

{% block content %}

{% load static %}
{% load widget_tweaks %}
{% load timedelta_filter %}


<!-- DIVIDER -->
<div class="row">
	<div class="col-md-12">
	        <div class="card">
	            <div class="header">
	                <h4 class="title">Relatório mensal - Setembro/2017</h4>
	                <p class="category">Espelho de frequência mensal</p>
	            </div>
	            <div class="content table-responsive">
	                <table class="table table-hover table-striped">
	                    <thead>
	                        <tr>
								<th>Dia</th>
								<th>Registros</th>
								<th>Horas trabalhadas</th>
								<th>Observações</th>
							</tr>
	                    </thead>
	                    <tbody>
	                    {% for dia in lista_dias %}	                    	
							<tr {% if not dia.is_util %} class="text-warning" {% endif %}>
							  	<td>{{dia.dia|date:"d-m-Y | l"}}</td>	  
							  	{% if dia.registros %}
							  		<td>
									  	{% for registro in dia.registros %}	  		
									  		{{registro.created_at|date:"H:i:s"}} {% if registro.tipo %}<br>{% else %} - {% endif %}	  		
									  	{% endfor %}
								  	</td>
								{% else %}
									<td>Nenhum registro</td>			
								{% endif %}

								{% if dia.feriado %}
									<td>{{ dia.feriado.1 }}</td>
								{% elif dia.ausencia %}
									<td>Falta justificada</td>
								{% else %}
									<td>{{ dia.horas_trabalhadas|timedelta:"{hours2}:{minutes2}:{seconds2}" }}</td>			
								{% endif %}
									<td>
									{% for obs in dia.observacoes %}
										{{ obs.observacao }}
									{% endfor %}
									</td>
							</tr>
							{% endfor %}
	                    </tbody>
	                </table>	                
	            </div>
	            <legend></legend>
	            <div class="footer">
		            <p>
			            Horas a trabalhar ({{dias_uteis}} dias úteis): {{ total_horas_trabalhar|timedelta:"{hours_total}:{minutes2}:{seconds2}" }}<br>

						Horas trabalhadas no período: <span class="text-success">{{ horas_trabalhadas_periodo|timedelta:"{hours2}:{minutes2}:{seconds2}" }}<br></span>

						Horas abonadas: <span class="text-primary">{{ horas_abonadas_periodo|timedelta:"{hours2}:{minutes2}:{seconds2}" }}</span>
					</p>

					<div class="progress">
	                    <div class="progress-bar progress-bar-success" style="width: {{porcentagem_horas_trabalhadas}}%"></div>
	                    <div class="progress-bar progress-bar-primary" style="width: 5%"></div>                    
	                </div>
				</div>
	        </div>
	    </div>
</div>

{% endblock %}