{% extends "base.html" %}

{% block content %}

{% load static %}
{% load widget_tweaks %}
{% load timedelta_filter %}

<div class="mb-0 mt-4">
    <i class="fa fa-newspaper-o"></i> Relatório mensal de frequência - {{periodo|date:"F/Y"}}
</div>
<hr class="mt-2">

<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-user"></i> <b>{{ object }}</b>
    </div>
    <div class="card-body">	  	            	
	    <div class="table-responsive">
	        <table class="table table-striped">
	            <thead>
	                <tr>
						<th>Bolsista</th>
						<th>Saldo do mês atual</th>
						<th>Saldo do mês anterior</th>
						<th>
							Saldo total 
							<a href="#" data-toggle="tooltip" title="Saldo do mês atual somado ao do mês anterior"><i class="fa fa-question-circle"></i></a>
						</th>
						<th>Detalhes</th>
					</tr>
	            </thead>
	            <tbody>
	            {% if relatorio %}
	                {% for bolsista in relatorio %}	 
						<tr>
						  	<td>{{bolsista.bolsista.user}}</td>

						  	{% with atual=bolsista.balanco_mes_atual antes=bolsista.balanco_mes_anterior total=bolsista.balanco_geral%}	
							  	<td>
							  		{% if atual.days > 0 %}-{% endif %}{{atual|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}
							  	</td>
							  	<td>
							  		{% if antes.days > 0 %}-{% endif %}{{antes|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}
							  	</td>
							  	<td>
							  		{% if total.days > 0 %}-{% endif %}{{total|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}
							  	</td>
								<td><a href="{% url 'relatorios:relatorio_mensal' bolsista.bolsista.pk %}?mes={{periodo.month}}&ano={{periodo.year}}"><i class="fa fa-search"></i></a></td>  	
							{% endwith %}
						</tr>
					{% endfor %}
				{% else %}
					<td colspan="5">Nenhum registro encontrado no mês</td>
				{% endif %}
	            </tbody>
	        </table>	                
	    </div>	            
    
	    <div class="text-center">
	    	<a href="#" class="btn text-info" onclick="window.history.back()">Voltar</a>
	    </div>
	
	</div>
</div>


{% endblock %}

{% block script %}
	{{block.super}}
	<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
{% endblock %}