
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% load widget_tweaks %}
<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-table"></i> Gerenciar máquina
    </div>
    <div class="card-body">
        <form method="post">
             {% csrf_token %}
             {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                <div class="form-group col-md-4">
                    <label>{{ form.nome.label }}</label>
                    {% render_field form.nome class="form-control" %}
                    {% if form.nome.errors %}
                        <label class="text-danger">{{ form.nome.errors.0 }}</label>
                    {% endif %}
                </div>		
                <div class="form-group col-md-5">
                    <label>{{ form.descricao.label }}</label>
                    {% render_field form.descricao class="form-control" %}
                    {% if form.descricao.errors %}
                        <label class="text-danger">{{ form.descricao.errors.0 }}</label>
                    {% endif %}
                </div>
                <div class="form-group col-md-3">
                    <label>{{ form.ip.label }}</label>
                    {% render_field form.ip class="form-control" %}
                    {% if form.ip.errors %}
                        <label class="text-danger">{{ form.ip.errors.0 }}</label>
                    {% endif %}
                </div>
            </div>

            <div class="text-center">
		    	<a class="btn text-info" href="{% url "registro:maquinas" %}">Voltar</a>
			    <button class="btn btn-info" type="submit">Salvar</button>
			</div>
    
        </form>
    </div>
</div> 

{% endblock %}