
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	{% load widget_tweaks %}
	<div class="row">
		<div class="col-md-12">
            <div class="card">
            	<div class="header">
            	<h4 class="title">Máquina</h4>
                
                <p class="category">Preencha os dados da máquina</p>
                </div>
                <div class="content">
                    <form method="post">
                         {% csrf_token %}
                         {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
	                    <div class="form-group col-md-4">
                            <label>{{ form.nome.label }}</label>
                            {% render_field form.nome class="form-control" %}
                            {% if form.nome.errors %}
                                <label class="error">{{ form.nome.errors.0 }}</label>
                            {% endif %}
                        </div>		
                        <div class="form-group col-md-5">
                            <label>{{ form.descricao.label }}</label>
                            {% render_field form.descricao class="form-control" %}
                            {% if form.descricao.errors %}
                                <label class="error">{{ form.descricao.errors.0 }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-3">
                            <label>{{ form.ip.label }}</label>
                            {% render_field form.ip class="form-control" %}
                            {% if form.ip.errors %}
                                <label class="error">{{ form.ip.errors.0 }}</label>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="text-center">
    					    	<a class="btn btn-warning btn-simple" href="{% url "registro:maquinas" %}" type="button">Voltar</a>
    						    <button class="btn btn-warning btn-fill" type="submit">Salvar</button>
    						</div>
                        </div>      
                    </form>
                </div>
            </div> 
        </div>
	</div>

{% endblock %}