{% extends "base.html" %}

{% block content %}

{% load widget_tweaks %}
{% load static %}

{% load rules %}
{% has_perm 'accounts.is_gestor' user as can_manage_feriado %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Calendário de  {{ano}}</h4>
                <p class="category">Listagem de todos os feriados do ano</p>
            </div>
            <div class="content table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for feriado in  object_list %}
                        <tr>
                            <td>{{ feriado.0 }}</td>
                            <td>
                                {{ feriado.1 }}
                                {% if feriado.2 and can_manage_feriado %}
                                    <a href="{% url 'calendario:feriado_remove' feriado.2 %}"><i class="fa fa-trash text-danger"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if can_manage_feriado %}
        <div class="col-md-12">
            <div class="card">
                <div class="header">Cadastrar feriado</div>
                <div class="content">
                {{ form.nom_field_errors }}
                    <form action="{% url 'calendario:feriado_create' %}" method="post">
                         {% csrf_token %}
                        
                        <div class="form-group col-md-8">
                            <label>{{ form.nome.label }}</label>
                            {% render_field form.nome class="form-control" %}
                            {% if form.nome.errors %}
                                <label class="error">{{ form.nome.errors.0 }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4">
                            <label>{{ form.data.label }}</label>
                            {% render_field form.data class="form-control datepicker" %}
                            {% if form.data.errors %}
                                <label class="error">{{ form.data.errors.0 }}</label>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-fill btn-warning">Adicionar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    {% endif %}
</div>

{% endblock %}

{% block script %}
{{ block.super }}

<script src="{% static 'js/jquery.mask.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
            $('#id_data').mask('00/00/0000', {reverse: true});
            demo.initFormExtendedDatetimepickers();
    });
</script>
{% endblock %}