{% extends "base.html" %}

{% block content %}

{% load widget_tweaks %}
{% load static %}

{% load rules %}
{% has_perm 'accounts.is_gestor' user as can_manage_feriado %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Calendário de  {{ano}}</h4>
                <p class="category">Listagem de todos os feriados do ano</p>
            </div>
            <div class="content table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for feriado in  object_list %}
                        <tr>
                            <td>{{ feriado.0 }}</td>
                            <td>
                                {{ feriado.1 }}
                                {% if feriado.2 and can_manage_feriado %}
                                    <a href="" data-toggle="modal" data-target="#confirmar_exclusao" object_id="{{ feriado.2 }}" class="delete_modal"><i class="fa fa-trash text-danger"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% if can_manage_feriado %}
        <div class="col-md-12">
            <div class="card">
                <div class="header">Cadastrar feriado</div>
                <div class="content">
                {{ form.nom_field_errors }}
                    <form action="{% url 'calendario:feriado_create' %}" method="post">
                         {% csrf_token %}
                        
                        <div class="form-group col-md-8">
                            <label>{{ form.nome.label }}</label>
                            {% render_field form.nome class="form-control" %}
                            {% if form.nome.errors %}
                                <label class="error">{{ form.nome.errors.0 }}</label>
                            {% endif %}
                        </div>
                        <div class="form-group col-md-4">
                            <label>{{ form.data.label }}</label>
                            {% render_field form.data class="form-control datepicker" %}
                            {% if form.data.errors %}
                                <label class="error">{{ form.data.errors.0 }}</label>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="footer text-center">
                                <button type="submit" class="btn btn-fill btn-warning">Adicionar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    {% endif %}
</div>

<div class="modal fade" id="confirmar_exclusao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmação de exclusão de feriado</h4>
      </div>
      <div class="modal-body">
        Você deseja realmente remover este feriado?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
        <a type="button" id="button_delete_modal" class="btn btn-danger btn-fill">Excluir</a>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block script %}
{{ block.super }}

<script src="{% static 'js/jquery.mask.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
            $('#id_data').mask('00/00/0000', {reverse: true});
            demo.initFormExtendedDatetimepickers();
    });

    //Delete
    var feriado_id;

    $(".delete_modal").click(function(){
      feriado_id = $(this).attr('object_id');
      $("#button_delete_modal").attr('href', '/calendario/feriado/remover/' + feriado_id);
    });
</script>
{% endblock %}