{% extends "base.html" %}

{% block content %}
{% load static %}

	{% load widget_tweaks %}

	{% load rules %}
	{% has_perm 'accounts.is_servidor' user as is_servidor %}
	
	<div class="card mb-3">
	    <div class="card-header">
	      <i class="far fa-file-alt"></i> Relatório de frequência mensal
	    </div>
	    <div class="card-body">
            <form action="#" method="post">
                 {% csrf_token %}

                 {% if form.non_field_errors %}
					<div class="alert alert-danger">
						{% for error in form.non_field_errors %}
							{{ error }}
						{% endfor %}
					</div>
				{% endif %}

				<div class="row">
					{% if is_servidor %}
						<div class="form-group col-md-12">
							<label class="control-label">{{form.bolsista.label}}</label>
							{% render_field form.bolsista class="form-control select2" required="" %}
							{% if form.bolsista.errors %}
	                            <label class="text-danger">{{ form.bolsista.errors.0 }}</label>
	                        {% endif %}
						</div>
					{% endif %}

					<div class="form-group col-md-6">
						<label class="control-label">{{form.mes.label}}</label>
						{% render_field form.mes class="form-control" data-minimum-results-for-search="Infinity" %}
					</div>

					<div class="form-group col-md-6">
						<label class="control-label">{{form.ano.label}}</label>
						{% render_field form.ano class="form-control" data-minimum-results-for-search="Infinity" %}
					</div>						
                </div>

			    <div class="text-center">
				    <button class="btn btn-info" type="submit">Gerar relatório</button>
				</div>		
            </form>
        </div>
    </div> 

{% endblock %}

{% block extra-scripts %}
	<script type="text/javascript">
		$('select').select2({width: '100%'});
	</script>
{% endblock %}
