{% extends "base.html" %}

{% block content %}

{% load static %}
{% load timedelta_filter %}

<div class="mb-0 mt-4">
    <i class="fa fa-file-o"></i> Listagem geral
</div>
<hr class="mt-2">

{% for dia in object_list %}
<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-calendar"></i> {{ dia.data }}
    </div>
    <div class="card-body">	  	            	
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
						<th>Bolsista</th>
						<th>Setor</th>
						<th>Registros</th>
						<th>Horas trabalhadas</th>
						<th></th>
					</tr>
                </thead>
                <tbody>
                {% for bolsista in dia.bolsistas %}               	
					<tr>
					  	<td>{{ bolsista.user.name }}</td>
					  	<td>{{ bolsista.setor }}</td>
					  	<td>
					  		{% if bolsista.registros_dia %}
							  	{% for registro in bolsista.registros_dia %}  		
							  		{{registro.created_at|date:"H:i:s"}}
								  		{% if registro.observacao %}
										<a href="#" data-toggle="tooltip" title="{{ registro.observacao }}"><i class="fa fa-exclamation-circle"></i></a>
										{% endif %}
							  		{% if registro.tipo %}<br>{% else %} - {% endif %}	  		
							  	{% endfor %}
							{% else %}
								Nenhum registro
							{% endif %}
						</td>
						<td>{{ bolsista.horas_trabalhadas|timedelta:"{hours2}:{minutes2}:{seconds2}" }}</td>
						<td><a href="{% url 'relatorios:relatorio_mensal' bolsista.pk %}#{{dia.data|date:'d-m-Y'}}"><i class="fa fa-chevron-right"></i></a></td>
						<!--  -->
					</tr>
					{% endfor %}
                </tbody>
            </table>	                
        </div>        
    </div>
</div>
{% endfor %}

{% endblock %}

{% block scripts %}
	{{block.super}}
	<script>
	$(document).ready(function(){
	    $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
{% endblock %}