{% extends "base.html" %}

{% block content %}

{% load filtros %}

{% load l10n %}
{% load static %}
{% load widget_tweaks %}
{% load timedelta_filter %}

<div class="mb-0 mt-4">
    <i class="far fa-file-alt"></i> Relatório mensal de frequência - {{periodo|date:"F/Y"}}
</div>
<hr class="mt-2">

<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-user"></i> <b>{{ object }}</b>
    </div>
    <div class="card-body">	  	            	
	    <div class="table-responsive">
	        <table class="table">
	            <thead>
	                <tr>
						<th>Bolsista</th>
						<th>Saldo do mês atual</th>
						<th>Saldo do mês anterior</th>
						<th>
							Saldo total 
							<a href="#" data-toggle="tooltip" title="Saldo do mês atual somado ao do mês anterior"><i class="fa fa-question-circle"></i></a>
						</th>
						<th></th>
						<th></th>
					</tr>
	            </thead>
	            <tbody>
	            {% if relatorio %}
	                {% for bolsista in relatorio %}	 
						<tr class="bolsista-setor">
						  	<td>{{bolsista.bolsista.user}}</td>

						  	{% with atual=bolsista.balanco_mes_atual.saldo_mes antes=bolsista.balanco_mes_anterior total=bolsista.balanco_geral %}
							  	<td>
							  		{% if atual.days > 0 %}
							  			-{{atual|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}
							  		{% else %}
							  			{{ atual|inverso|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}
							  		{% endif %}
							  	</td>
							  	<td>
							  		{% if antes.days > 0 %}
							  			-{{antes|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}
							  		{% else %}
							  			{{antes|inverso|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}
							  		{% endif %}
							  	</td>
							  	<td>
							  		{% if total.days > 0 %}
							  			-{{total|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}
							  		{% else %}
							  			{{ total|inverso|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}
							  		{% endif %}
							  	</td>
							  	<td class="align-middle" style="width: 10%">
							  		<div class="progress">
									  <div class="progress-bar" role="progressbar" style="height: 10px;" data-toggle="tooltip"></div>
									</div>
							  	</td>
								<td class="text-center"><a href="{% url 'relatorios:relatorio_mensal' bolsista.bolsista.pk %}?mes={{ periodo.month }}&ano={{ periodo.year }}"><i class="fa fa-search"></i></a></td>	

								{% localize off %}
						  			<input type="hidden" name="trabalhar" class="trabalhar" value="{{ bolsista.balanco_mes_atual.horas_trabalhar.total_seconds }}">

						  			<input type="hidden" name="mes_anterior" class="mes_anterior" value="{{ antes.total_seconds }}">

						  			<input type="hidden" name="trabalhadas" class="trabalhadas" value="{{ bolsista.balanco_mes_atual.horas_trabalhadas.total_seconds }}">
						  			<input type="hidden" name="abonadas" class="abonadas" value="{{ bolsista.balanco_mes_atual.horas_abonadas_periodo.total_seconds }}">
					  			{% endlocalize %}
							{% endwith %}							
						</tr>
					{% endfor %}
				{% else %}
					<td colspan="5">Nenhum registro encontrado no mês</td>
				{% endif %}
	            </tbody>
	        </table>	                
	    </div>	            
    
	    <div class="text-center">
	    	<a href="#" class="btn text-info" onclick="window.history.back()">Voltar</a>
	    </div>
	
	</div>
</div>


{% endblock %}

{% block scripts %}
	{{block.super}}
	<script>
	$(document).ready(function(){	    

	    $('.bolsista-setor').each(function(){
	    	var trabalhar = parseFloat($(this).find('.trabalhar').val());
	    	var trabalhadas = parseFloat($(this).find('.trabalhadas').val());	    	
	    	var abonadas = parseFloat($(this).find('.abonadas').val());	    	
	    	var mes_anterior = parseFloat($(this).find('.mes_anterior').val());	    	
	    	var porcentagem = Math.floor((trabalhadas + abonadas) * 100 / (trabalhar + mes_anterior));
	    	$(this).find('.progress-bar').css({ 'width': porcentagem+'%' }).attr('data-original-title', porcentagem+'%');
	    });

	    $('[data-toggle="tooltip"]').tooltip();
	});
	</script>
{% endblock %}