@media print {
  .hidden-print {
    display: none !important;
  }

  .only-print {
    display: inline-table !important;
  }

  img, nav, footer {
  	display: none !important;
  }

  table {
  	font-weight: 1em;
  	line-height: 1.3 !important;
  }
}

@page {
    size: auto;     
    margin-top: 0cm;      
    margin-bottom: 0cm;     
}

.only-print {
  display: none;
}
