{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	{% load widget_tweaks %}

	<div class="header header-filter" style="background-image: url({% static 'images/bg.jpg' %})">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Criar usuário</h1>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="main main-raised">
            <div class="container">
            	<div class="row section">
					<form method="post">

						{% csrf_token %}

						<div class="row vertical-align">
							<div class="col-md-6">
			            		<h2>Formulário</h2>
				                <legend></legend>
				                <h4>Dados gerais</h4>
				                <p>Preencha os dados do usuário</p>
			                </div>

			                <div class="col-md-6">
				                <div class="togglebutton pull-right">
										<label>
											{% render_field form.is_active type="togglebutton" checked="" %}
											{{form.is_active.label}}
										</label>
								</div>
							</div>
						</div>

						{{ form.nom_field_errors }}
					    

						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">{{form.name.label}}</label>
								{% render_field form.name class="form-control" %}
								{{ form.name.errors }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">{{form.username.label}}</label>
								{% render_field form.username class="form-control" %}
								{{ form.username.errors }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">{{form.email.label}}</label>
								{% render_field form.email class="form-control" %}
								{{ form.email.errors }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">{{form.cpf.label}}</label>
								{% render_field form.cpf class="form-control" %}
								{{ form.cpf.errors }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">{{form.password1.label}}</label>
								{% render_field form.password1 class="form-control" %}
								{{ form.password1.errors }}
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group label-floating">
								<label class="control-label">{{form.password2.label}}</label>
								{% render_field form.password2 class="form-control" %}
								{{ form.password2.errors }}
							</div>
						</div>

						<legend></legend>
		                <h4>Vínculos</h4>
		                <p>Determine a função do usuário no sistema e dados contextuais.</p>

		                <legend></legend>

		                <div class="container">
    						<div id="vinculos" class="row">
								<ul id="vinculo-tabs" class="nav nav-tabs">
			                      <li id="vinculo-tab" class="active"><a data-toggle="tab" href="#vinculo">Vínculo</a></li>
			                      <li class="pull-right"><a id="add-vinculo" href="#a">Novo vínculo</a></li>
			                    </ul>

			                    <div id="tab-content" class="tab-content">
			                      	<div id="vinculo" class="tab-pane fade in active">

										<div id="collapseOne" class="panel-collapse collapse in">
					                        <div class="panel-body">
												{% for form in vinculos_formset %}
												     {% for field in form %}
														{% if field.name == "ativo" %} 
															<div class="row vertical-align">
																<div class="col-md-6">
											                        <h3>Bolsistas</h3>
		            												<p>Listagem de bolsistas ativos.</p>
		            											</div>
										                        <div class="col-md-6">
													                <div class="togglebutton pull-right">
																		<label>
																			{% render_field field type="togglebutton" checked="" %}
																			{{field.label}}
																		</label>
																	</div>
																</div>
															</div>
														{% elif field.name == "id" or field.name == "user" %}
															{% render_field field %}
														{% elif field.name == "group" %}
							         						<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label">{{field.label}}</label>
																	{% render_field field class="form-control" onchange="getOption(this)" %}
																</div>
															</div>
														{% else %}
							         						<div class="col-md-6">
																<div class="form-group">
																	<label class="control-label">{{field.label}}</label>
																	{% render_field field class="form-control" %}
																</div>
															</div>
														{% endif %}
												     {% endfor %} 
												{% endfor %} 
					                        </div>
				                    	</div>
			                      	</div>
			                    </div>
						    </div>
						</div>

						<div class="col-md-12 text-center">
						    <button class="btn btn-primary" type="submit">Salvar</button>
					    	<a class="btn btn-primary btn-simple" href="{% url 'accounts:accounts' %}" type="button">Voltar</a>
						</div>
					</form> 
            		
            	</div>
            </div>
	</div>
{% endblock %}

{% block script %}
	{{ block.super }}
	<script src="{% static 'js/jquery.mask.js' %}"></script>
	<script type="text/javascript">
	    $(document).ready(function(){
		    var tab = $('#vinculo').clone();

		    $("#add-vinculo").click(function(){
		    	var num_tabs = $("div#vinculos ul li").length - 1;

			    $(tab).find(':input').each(function() {
			        var name = $(this).attr('name', $(this).attr('name').replace('-' + (num_tabs - 1) + '-','-' + num_tabs + '-'));
			        var id = $(this).attr('id', 'id_' + $(this).attr('name'));
			    });

		    	$('div#vinculos ul').append('<li><a data-toggle="tab" href="#vinculo'+num_tabs+'">Vínculo</a></li>');
				$('#tab-content').append('<div class="tab-pane fade" id="vinculo'+num_tabs+'">'+tab.html()+'</div>');

		    });

		    var $seuCampoCpf = $("#id_cpf");
	        $seuCampoCpf.mask('000.000.000-00', {reverse: true});
		});

		function getOption(form) {
			var id = $(form).attr("name").split('-')[1];
		    if ($(form).find("option:selected").text() == "Bolsista") {
		        $('select#id_vinculos-'+id+'-coordenadoria').prop('disabled', true);
		    } else if ($(form).find("option:selected").text() == "Chefe de Setor") {
		    	$('select#id_vinculos-'+id+'-coordenadoria').prop('disabled', true);
		    	$('input#id_vinculos-'+id+'-carga_horaria_diaria').prop('disabled', true);
		    	$('input#id_vinculos-'+id+'-turno').prop('disabled', true);
		    } else if ($(form).find("option:selected").text() == "Coordernador") {
		    	$('select#id_vinculos-'+id+'-setor').prop('disabled', true);
		    	$('select#id_vinculos-'+id+'-coordenadoria').prop('disabled', false);
		    	$('input#id_vinculos-'+id+'-carga_horaria_diaria').prop('disabled', true);
		    	$('input#id_vinculos-'+id+'-turno').prop('disabled', true);
		    } else {
		    	$('select#id_vinculos-'+id+'-setor').prop('disabled', true);
		    	$('input#id_vinculos-'+id+'-coordenadoria').prop('disabled', true);
		    	$('input#id_vinculos-'+id+'-turno').prop('disabled', true);
		    	$('input#id_vinculos-'+id+'-carga_horaria_diaria').prop('disabled', true);
		    }
		};
	</script>
{% endblock %}