{% extends 'base.html' %}
{% load static %}

{% block content %}

{% load widget_tweaks %}

<div class="card mb-3">
	<div class="card-header">
	  <i class="fa fa-table"></i> Gerenciar usuário
	</div>
    <div class="card-body">
        <form method="post">
             {% csrf_token %}              

             {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">            	
            	<div class="col-md-12">	                
					<label class="checkbox">
                        {% render_field form.is_active %}
                        {{form.is_active.label}}
                    </label>
				</div>
	            <div class="form-group col-md-6">
	            	<label class="control-label">{{form.name.label}}</label>
					{% render_field form.name class="form-control" %}
					{% if form.name.errors %}
	                    <label class="text-danger">{{ form.name.errors.0 }}</label>
	                {% endif %}                        
	            </div>
	            <div class="form-group col-md-6">
	            	<label class="control-label">{{form.username.label}}</label>
					{% render_field form.username class="form-control" %}
					{% if form.username.errors %}
	                    <label class="text-danger">{{ form.username.errors.0 }}</label>
	                {% endif %}                        
	            </div>
	            <div class="form-group col-md-6">
	            	<label class="control-label">{{form.email.label}}</label>
					{% render_field form.email class="form-control" %}
					{% if form.email.errors %}
	                    <label class="text-danger">{{ form.email.errors.0 }}</label>
	                {% endif %}                        
	            </div>
	            <div class="form-group col-md-6">
	            	<label class="control-label">{{form.cpf.label}}</label>
					{% render_field form.cpf class="form-control" %}
					{% if form.cpf.errors %}
	                    <label class="text-danger">{{ form.cpf.errors.0 }}</label>
	                {% endif %}                        
	            </div>
	            <div class="form-group col-md-6">
	            	<label class="control-label">{{form.password1.label}}</label>
					{% render_field form.password1 class="form-control" %}
					{% if form.password1.errors %}
	                    <label class="text-danger">{{ form.password1.errors.0 }}</label>
	                {% endif %}                        
	            </div>
	            <div class="form-group col-md-6">
	            	<label class="control-label">{{form.password2.label}}</label>
					{% render_field form.password2 class="form-control" %}
					{% if form.password2.errors %}
	                    <label class="text-danger">{{ form.password2.errors.0 }}</label>
	                {% endif %}                        
	            </div>
	        </div>

            <h4>Vínculos</h4>

            <ul role="tablist" class="nav nav-tabs">
                {% for form in vinculos_formset %}
                  <li id="{{form.prefix}}-tab"><a data-toggle="tab" class="nav-link{% if form.prefix == 'vinculos-0' %} active {% endif %}" href="#{{form.prefix}}">Novo vínculo</a></li>
                {% endfor %}
            </ul>
            {{vinculos_formset.management_form}}
            <div id="tab-content" class="tab-content">
				{% for form in vinculos_formset %}
                  	<div id="{{form.prefix}}" class="tab-pane {% if form.prefix == 'vinculos-0' %} active{% endif %}">		  
						<div class="row">													
						{% for field in form %}							
							{% if field.name == "ativo" %}
								<div class="col-md-12">
									<label class="checkbox">
										{% render_field field %}
										{{field.label}}
			                        </label>
								</div>
							{% elif field.name == "id" or field.name == "user" %}
								{% render_field field %}
							{% elif field.name == "group" %}
         						<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">{{field.label}}</label>
										{% render_field field class="form-control" onchange="getOption(this)" %}
									</div>
								</div>
							{% else %}
         						<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">{{field.label}}</label>
										{% render_field field class="form-control" %}
									</div>
								</div>
							{% endif %}
					    {% endfor %}                    	
						</div>
                  	</div>
				{% endfor %}
            </div>

             						
            <div class="text-center">
		    	<a class="btn text-info" href="{% url 'accounts:accounts' %}">Voltar</a>
		    	{% if object %}
		    		<button class="btn btn-danger" data-toggle="modal" data-target="#confirmar_redefinicao" type="button">Redefinir senha</button>
		    	{% endif %}
			    <button class="btn btn-info" type="submit">Salvar</button>
			</div>            
        </form>
    </div>
</div> 

{% if object %}
	<div class="modal fade" id="confirmar_redefinicao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	        <h4 class="modal-title" id="myModalLabel">Confirmação de redefinição de senha</h4>
	      </div>
	      <div class="modal-body">
	        Você deseja realmente redefinir a senha do usuário para o valor padrão?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Cancelar</button>
	        <a type="button" class="btn btn-danger btn-fill" href="{% url 'accounts:reset_password' object.pk %}">Redefinir</a>
	      </div>
	    </div>
	  </div>
	</div>
{% endif %}


{% endblock %}

{% block script %}
	{{ block.super }}
	<script src="{% static 'js/jquery.mask.js' %}"></script>
	<script type="text/javascript">
	    $(document).ready(function(){
		    $("div ul li a").val('name');

		    var $seuCampoCpf = $("#id_cpf");
	        $seuCampoCpf.mask('000.000.000-00', {reverse: true});

	        $('[id*=-group]').each(function() {
				getOption($(this));
			});
		});

		function getOption(form) {

			var id = $(form).attr("name").split('-')[1];
			var option = $(form).find("option:selected").text()

			if (option == '') {
			    option = "Novo vínculo"
			}

			$("li#vinculos-" + id + "-tab a").text(option);

	    	$('select#id_vinculos-'+id+'-setor').prop('disabled', false);
	    	$('select#id_vinculos-'+id+'-coordenadoria').prop('disabled', false);
	    	$('select#id_vinculos-'+id+'-turno').prop('disabled', false);
	    	$('input#id_vinculos-'+id+'-carga_horaria_diaria').prop('disabled', false);

		    if (option == "Bolsista") {

		        $('select#id_vinculos-'+id+'-coordenadoria').prop('disabled', true).val('');

		    } else if (option == "Chefe de Setor") {

		    	$('select#id_vinculos-'+id+'-coordenadoria').prop('disabled', true).val('');
		    	$('input#id_vinculos-'+id+'-carga_horaria_diaria').prop('disabled', true).val('');
		    	$('select#id_vinculos-'+id+'-turno').prop('disabled', true).val('');

		    } else if (option == "Coordenador") {

		    	$('select#id_vinculos-'+id+'-setor').prop('disabled', true).val('');
		    	$('input#id_vinculos-'+id+'-carga_horaria_diaria').prop('disabled', true).val('');
		    	$('select#id_vinculos-'+id+'-turno').prop('disabled', true).val('');

		    };
		};
	</script>
{% endblock %}
