{% extends 'base.html' %}
{% load static %}

{% block content %}

	{% load widget_tweaks %}

	<div class="row">
		<div class="col-md-12">
            <div class="card">
            	<div class="header">
            	<h4 class="title">Alterar senha</h4>
                </div>
                <div class="content">
                    <form method="post">
                         {% csrf_token %} 
                         {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <div class="form-group col-md-12">
                        	<label class="control-label">{{form.old_password.label}}</label>
							{% render_field form.old_password class="form-control" %}
							{% if form.old_password.errors %}
                                <label class="error">{{ form.old_password.errors.0 }}</label>
                            {% endif %}                        
                        </div>
                        <div class="form-group col-md-12">
                        	<label class="control-label">{{form.new_password1.label}}</label>
							{% render_field form.new_password1 class="form-control" %}
							{% if form.new_password1.errors %}
                                <label class="error">{{ form.new_password1.errors.0 }}</label>
                            {% endif %}                        
                        </div>
                        <div class="form-group col-md-12">
                        	<label class="control-label">{{form.new_password2.label}}</label>
							{% render_field form.new_password2 class="form-control" %}
							{% if form.new_password2.errors %}
                                <label class="error">{{ form.new_password2.errors.0 }}</label>
                            {% endif %}                        
                        </div>
                        <div class="row">   						
                            <div class="footer text-center">
    					    	<a class="btn btn-warning btn-simple" onclick="window.history.back()" type="button">Voltar</a>
    						    <button class="btn btn-warning btn-fill" type="submit">Salvar</button>
    						</div>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
	</div>


{% endblock %}
