{% extends 'base.html' %}
{% load static %}

{% block content %}

	{% load widget_tweaks %}

	<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-key"></i> Alterar senha
        </div>
        <div class="card-body">
            <form method="post">
                 {% csrf_token %} 
                 {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                
                <div class="row"> 
                    <div class="form-group col-md-12">
                    	<label class="control-label">{{form.old_password.label}}</label>
    					{% render_field form.old_password class="form-control" %}
    					{% if form.old_password.errors %}
                            <label class="text-danger">{{ form.old_password.errors.0 }}</label>
                        {% endif %}                        
                    </div>
                    <div class="form-group col-md-12">
                    	<label class="control-label">{{form.new_password1.label}}</label>
    					{% render_field form.new_password1 class="form-control" %}
    					{% if form.new_password1.errors %}
                            <label class="text-danger">{{ form.new_password1.errors.0 }}</label>
                        {% endif %}                        
                    </div>
                    <div class="form-group col-md-12">
                    	<label class="control-label">{{form.new_password2.label}}</label>
    					{% render_field form.new_password2 class="form-control" %}
    					{% if form.new_password2.errors %}
                            <label class="text-danger">{{ form.new_password2.errors.0 }}</label>
                        {% endif %}                        
                    </div>
                </div>
                                        
                <div class="text-center">
                    <a class="btn text-info" onclick="window.history.back()">Voltar</a>
                    <button class="btn btn-info" type="submit">Salvar</button>
                </div>
            </form>
        </div>
    </div> 


{% endblock %}
