<!doctype html>
<html lang="en">
{% include "head.html" %}

{% load static %}
{% load widget_tweaks %}
<body style="display:none"> 

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">    
        <div class="navbar-header">            
            <a class="navbar-brand " href="{% url "registro:registro" %}">Frequência BCZM</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                   <a href="{% url "registro:registro" %}">
                    <i class="fa fa-clock-o"></i>
                        Registrar frequência
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="peteca" data-image="{% static 'images/bczm-acervo.jpg' %}">   
        
    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">                   
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form action="{% url 'accounts:login' %}" method="POST">
                        {% csrf_token %}
                            
                            <input type="hidden" name="next" value="{{ next }}">
                            <div class="card card-hidden">
                                <div class="text-center">Login</div>
                                
                                <div class="content">
                                    {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <button type="button" aria-hidden="true" class="close">×</button>
                                        <span>{{ form.non_field_errors.0 }}</span>
                                    </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <label>{{ form.username.label }}</label>
                                        {% render_field form.username class="form-control" placeholder=form.username.label autofocus="" %}
                                        {% if form.username.errors %}
			                                <label class="error">{{ form.username.errors.0 }}</label>
			                            {% endif %} 
                                    </div>
                                    <div class="form-group">
                                        <label>{{ form.password.label }}</label>
                                        {% render_field form.password class="form-control" placeholder=form.password.label %}
                                        {% if form.password.errors %}
			                                <label class="error">{{ form.password.errors.0 }}</label>
			                            {% endif %} 
                                    </div>                                 
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-fill btn-warning btn-wd">Login</button>
                                </div>
                            </div>
                                
                        </form>
                                
                    </div>                    
                </div>
            </div>
        </div>
        
        <footer class="footer footer-transparent">
            <div class="container">
                <nav class="pull-left">
                        <ul>
                            <li>
                                <img src="{% static 'images/logobczm.png' %}">
                            </li>
                        </ul>
                    </nav>
                    <!--div class="copyright pull-right"-->
                    <div class="pull-right">
                        &copy; 2017, SST
                    </div>
            </div>
        </footer>

    </div>                             
       
</div>

</body>

    {% include "script.html" %}
    <script type="text/javascript">
        $(document).ready(function(){
            lbd.checkFullPageBackgroundImage();
            setTimeout(function(){
                $('.card').removeClass('card-hidden');
            }, 300);
        });
    </script>    

</html>

