<!doctype html>
<html lang="pt">
{% include "head.html" %}

{% load static %}
{% load widget_tweaks %}
<body style="display:none;">

    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container">    
            <div class="navbar-header">            
                <a class="navbar-brand" href="#">Frequência BCZM</a>
            </div>
            <div class="collapse navbar-collapse">       
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                       <a href="{% url "accounts:login" %}">
                       <i class="fa fa-home"></i>
                            Entrar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" data-color="orange" data-image="{% static "images/bczm-acervo.jpg" %}">   
            
            <div class="content">
                <div class="container">
                    <div class="row">                   
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <form action="{% url 'registro:registro' %}" method="POST">
                            {% csrf_token %}
                                
                                <div class="card ">
                                    <div class="text-center">Registro de frequência</div>
                                    <div class="text-center">
                                        <h1><span class="h">{% now "H" %}</span>:<span class="h m">{% now "i" %}</span>:<span class="h s">{% now "s" %}</span></h1>
                                        <h5>{% now "D, d M Y" %}</h5>                                
                                    </div>
                                    
                                    <div class="content">
                                        {% if form.errors %}
                                        <div class="alert alert-danger">
                                            <button type="button" aria-hidden="true" class="close">×</button>
                                            <span>{{ form.non_field_errors.0 }}</span>
                                        </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <label>{{ form.cpf.label }}</label>

                                            {% render_field form.cpf class="form-control" placeholder=form.cpf.label autofocus="" %}
                                                {{ form.cpf.errors }}
                                        </div>
                                        <div class="form-group">
                                            <label>{{ form.password.label }}</label>
                                            {% render_field form.password class="form-control" placeholder=form.password.label %}
                                                {{ form.password.errors }}
                                        </div> 
                                        <div class="form-group">
                                            <label>{{ form.observacao.label }}</label>
                                            {% render_field form.observacao class="form-control" placeholder=form.observacao.label %}
                                                {{ form.observacao.errors }}
                                        </div>                                    
                                    </div>
                                    <div class="footer text-center">
                                        <button type="submit" class="btn btn-fill btn-warning btn-wd">Registrar</button>
                                    </div>
                                </div>
                                    
                            </form>
                                    
                        </div>                    
                    </div>
                </div>
            </div>

            <footer class="footer footer-transparent">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <img src="{% static 'images/logobczm.png' %}">
                            </li>
                        </ul>
                    </nav>                    
                    <div class="pull-right">
                        &copy; {% now "Y" %}, SST
                    </div>
                </div>
            </footer>
        </div>  
    </div>
</body>
     
{% include "script.html" %}
<script src="{% static 'js/relogio.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){          

        lbd.checkFullPageBackgroundImage();

        var $seuCampoCpf = $("#id_cpf");
        $seuCampoCpf.mask('000.000.000-00', {reverse: true});

        $("#id_cpf").keyup(function () {
            if (this.value.length == this.maxLength) {
              $('#id_password').focus();
            }
        });

        setTimeout(function () {
           window.location.reload();
        }, 60000);
    });
    
</script>

</html>