{% extends "base.html" %}

{% block content %}
{% load static %}

{% load widget_tweaks %}

{% load rules %}
{% has_perm 'accounts.is_bolsista' user as is_bolsista %}

<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-commenting-o"></i> Nova justificativa
    </div>
    <div class="card-body">     
        <form enctype="multipart/form-data" action="#" method="post">
             {% csrf_token %}
                 {% if form.non_field_errors %}
					<div class="alert alert-danger">
						{% for error in form.non_field_errors %}
							{{ error }}
						{% endfor %}
					</div>
				{% endif %}
			<div class="row">
				<div class="form-group col-md-12">
					<label class="control-label">{{form.tipo.label}}</label>
					{% render_field form.tipo class="form-control" %}
					{% if form.tipo.errors %}
	                    <label class="text-danger">{{ form.tipo.errors.0 }}</label>
	                {% endif %}
				</div>
				<div class="form-group col-md-12">
					<label class="control-label">{{form.descricao.label}}</label>
					{% render_field form.descricao class="form-control" %}
					{% if form.tipodescricao.errors %}
	                    <label class="text-danger">{{ form.descricao.errors.0 }}</label>
	                {% endif %}
				</div>
				<div class="form-group col-md-6">
					<label class="control-label">{{form.inicio.label}}</label>
					{% render_field form.inicio class="form-control" data-toggle="datepicker" %}
					{% if form.inicio.errors %}
	                    <label class="text-danger">{{ form.inicio.errors.0 }}</label>
	                {% endif %}
				</div>
				<div class="form-group col-md-6">
					<label class="control-label">{{form.termino.label}}</label>
					{% render_field form.termino class="form-control" data-toggle="datepicker" %}
					{% if form.termino.errors %}
	                    <label class="text-danger">{{ form.termino.errors.0 }}</label>
	                {% endif %}
				</div>
				<div class="form-group col-md-12">
					<label class="control-label">
						{{form.comprovante.label}}
						<a href="#" data-toggle="tooltip" title="Arquivo de no máximo 5MB com extensão pdf, doc, docx, jpg ou png"><i class="fa fa-question-circle"></i></a>
					</label>
					{% render_field form.comprovante class="form-control" %}
					{% if form.comprovante.errors %}
	                    <label class="text-danger">{{ form.comprovante.errors.0 }}</label>
	                {% endif %}
				</div>
            </div>
			
		    <div class="text-center">
		    	<a class="btn text-info" href="{% url 'justificativas:justificativas' %}">Voltar</a>
			    <button class="btn btn-info" type="submit">Salvar</button>
			</div>		
        </form>
    </div>
</div> 

{% endblock %}

{% block scripts %}
	{{ block.super }}

	<script src="{% static 'js/jquery.mask.js' %}"></script>
	<script type="text/javascript">
	    $(document).ready(function(){
	            $('#id_inicio').mask('00/00/0000', {reverse: true});
	            $('#id_termino').mask('00/00/0000', {reverse: true});

	            $('[data-toggle="datepicker"]').datepicker({
	                autoHide: true, 
	                language: 'pt',
	                format: 'dd/mm/yyyy'
	            });   
	    });
	</script>
{% endblock %}
