{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<style type="text/css">
    body{
        position:relative;
        background: url({% static 'images/bczm-acervo.jpg' %}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width:100%;
        height:100%;
        margin:0
    }
    body:after{
        position:fixed;
        content:"";
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(16, 16, 16, 0.78);
        z-index:-1;
    } 

    .card-registro {
        margin-bottom: 20px;
    }
</style>

<body class="bg-dark fixed-nav sticky-footer "> 
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'core:index' %}">
        <img src="{% static 'images/bczm-logo.png' %}" class="logo-nav">
        Frequência BCZM
    </a>
    <ul class="navbar-nav ml-auto">               
        <a class="nav-link font-weight-bold" href="{% url 'accounts:login' %}"><i class="fa fa-sign-in"></i> Entrar</a>
    </ul>
  </nav>

    <div class="container">
        <div class="card card-login mx-auto mt-5">
          <div class="card-header">
              <div class="text-center">
                Registro de frequência
                <h1><span class="h">{% now "H" %}</span>:<span class="h m">{% now "i" %}</span>:<span class="h s">{% now "s" %}</span></h1>
                <h5>{% now "D, d M Y" %}</h5>                                
            </div>
          </div>
         <form action="{% url 'registro:registro' %}" method="POST">
            {% csrf_token %}
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <i class="fa fa-exclamation-circle"></i>
                      <span>{{ form.non_field_errors.0 }}</span>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label>{{ form.cpf.label }}</label>

                    {% render_field form.cpf class="form-control" autofocus="" %}
                        {{ form.cpf.errors }}
                </div>
                <div class="form-group">
                    <label>{{ form.password.label }}</label>
                    {% render_field form.password class="form-control" %}
                        {{ form.password.errors }}
                </div>
                <a class="text-dark" href="#" id="addObservacao"><i class="fa fa-plus"></i> Adicionar observação</a>
                <div class="form-group" style="display: none;" id="observacao">
                    <label>{{ form.observacao.label }}</label>
                    {% render_field form.observacao class="form-control" %}
                        {{ form.observacao.errors }}
                </div>                                    
            </div>
            <div class="text-center card-registro">
                <button type="submit" class="btn btn-info">Registrar</button>
            </div>
         </form>     
      </div>
    </div> 

    <div class="container-fluid footer navbar-fixed-bottom text-center" id="footer-wrapper">
        <small style="color: #FFF"> © Biblioteca Central Zila Mamede - {% now "Y" %}</small>
    </div>  

</body>
     
{% include "script.html" %}
<script src="{% static 'js/relogio.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('#footer-wrapper').attr('style', 'position: fixed!important; bottom: 20px;');        

        var $seuCampoCpf = $("#id_cpf");
        $seuCampoCpf.mask('000.000.000-00', {reverse: true});

        $("#id_cpf").keyup(function () {
            if (this.value.length == this.maxLength) {
              $('#id_password').focus();
            }
        });

        refreshTime = setTimeout(function () {
           window.location.reload();
        }, 60000);

        $('#addObservacao').click(function(){
            $(this).toggle();
            $('#observacao').toggle();
            clearTimeout(refreshTime);
        });
    });
    
</script>

</html>