{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<style type="text/css">
    body{
        position:relative;
        background: url({% static 'images/bczm-acervo.jpg' %}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width:100%;
        height:100%;
        margin:0
    }
    body:after{
        position:fixed;
        content:"";
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:rgba(16, 16, 16, 0.78);
        z-index:-1;
    } 

    .card-registro {
        margin-bottom: 20px;
    }
</style>

<body class="bg-dark fixed-nav sticky-footer "> 
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'core:index' %}">
        <img src="{% static 'images/bczm-logo.png' %}" class="logo-nav">
        Frequência BCZM
    </a>
    <ul class="navbar-nav ml-auto">  
        <i class="fa fa-sign-in" aria-hidden="true"></i>      
        <a class="nav-link" href="{% url 'accounts:login' %}">Entrar</a>
    </ul>
  </nav>

  <div class="container">
        <div class="card card-login mx-auto mt-5">
          <div class="card-header">
              <div class="text-center">
                Registros do dia
                <h5>{% now "D, d M Y" %}</h5>                
              </div>
          </div>

          <div class="card-body">
                <div class="text-center font-weight-bold">
                    {{bolsista}}
                </div>                
                {% if bolsista %}
                <table class="table text-center font-weight-bold">                    
                    <tbody>
                    {% for registro in bolsista.registros_dia %}
                        <tr>
                            {% if registro.tipo %}
                                <td class="text-danger align-middle">
                                    <i class="fa fa-arrow-circle-o-left fa-2x pull-left" aria-hidden="true"></i>
                                    <span>{{registro.get_tipo_display}}</span>
                                </td>        
                            {% else %}
                                <td class="text-success align-middle">
                                    <i class="fa fa-arrow-circle-o-right fa-2x pull-left" aria-hidden="true"></i>
                                    <span>{{registro.get_tipo_display}}</span>
                                </td>
                            {% endif %}
                                    
                            <td>                                
                                <strong>{{registro.created_at|time:'H:i'}}</strong>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h3>Sem registros para esse dia</h3>
                {% endif %}                           
          </div>
          <div class="text-center card-registro">
              <a class="btn text-info" href="{% url 'registro:registro' %}">Voltar</a>
          </div>    
      </div>
    </div> 

    <div class="container-fluid footer navbar-fixed-bottom text-center" id="footer-wrapper">
        <small style="color: #FFF"> © Biblioteca Central Zila Mamede - {% now "Y" %}</small>
    </div>  
</body>
     
{% include "script.html" %}
<script src="{% static 'js/relogio.js' %}"></script>
<script src="{% static 'js/jquery.mask.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){

        $('#footer-wrapper').attr('style', 'position: fixed!important; bottom: 20px;');       

        setTimeout(function () {
           window.location.href = {% url 'registro:registro' %};
        }, 10000);
    });
    
</script>

</html>