{% extends "base.html" %}

{% block content %}

{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="content">    
                <div class="col-md-9">
                    <h3>Tipos de justificativa</h3>
                    <p>Listagem dos tipos de justificativa cadastrados</p>
                </div>
                <div class="col-md-3">
                <a class="btn btn-warning btn-fill pull-right " href="{% url 'justificativas:tipo_justificativa_create' %}">Novo</a>
                </div>
                <legend></legend>
                {% if object_list %}
                <table class="table">
                    <thead>
                        <tr>                          
                            <th>Nome</th>                          
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tipo in object_list %}
                            <tr>
                                <td>{{ tipo }}</td>
                                <td><a href="{% url 'justificativas:tipo_justificativa_edit' tipo.pk %}"><i class="fa fa-pencil pull-right"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div class="alert alert-warning">
                        <span>Não há tipos de justificativa cadastrados</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}