{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	{% load widget_tweaks %}

	<div class="header header-filter" style="background-image: url({% static 'images/bg.jpg' %})">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						<h1>Editar setor</h1>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="main main-raised">
            <div class="container">
            	<div class="row section">
					<form method="post">

						{% csrf_token %}

						<div class="row vertical-align">
							<div class="col-md-6">
			            		<h2>Formulário</h2>
				                <legend></legend>
				                <h4>Dados gerais</h4>
				                <p>Preencha os dados do setor</p>
			                </div>
						</div>

						{{ form.nom_field_error }}

						{% for field in form %}
     						<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">{{field.label}}</label>
									{% render_field field class="form-control" %}
								</div>
							</div>
						{% endfor %} 
						
						<div class="col-md-12 text-center">
						    <button class="btn btn-primary" type="submit">Salvar</button>
					    	<a class="btn btn-primary btn-simple" href="{% url 'vinculos:setores_coords' %}" type="button">Voltar</a>
						</div>
					</form> 
            		
            	</div>
            </div>
	</div>
{% endblock %}

{% block script %}
{% endblock %}