{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- SIDENAV -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="{% url 'core:home' %}">
      <img src="{% static 'images/bczm-logo.png' %}" class="logo-nav">
      Frequência BCZM
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="{% url 'core:home' %}">
            <i class="fa fa-fw fa-home"></i>
            <span class="nav-link-text">Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vinculos:setores_coordenadorias' %}">
            <i class="fa fa-fw fa-cubes"></i>
            <span class="nav-link-text">Setores</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registro:maquinas' %}">
            <i class="fa fa-fw fa fa-desktop"></i>
            <span class="nav-link-text">Máquinas</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseUsuarios" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-users"></i>
            <span class="nav-link-text">Usuários</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseUsuarios">
            <li><a href="{% url 'accounts:accounts' %}">Listar</a></li>
            <li><a href="{% url 'accounts:accounts_create' %}">Novo usuário</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseJustificativas" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-commenting-o"></i>
            <span class="nav-link-text">Justificativas</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseJustificativas">
            <li><a href="{% url 'justificativas:justificativas' %}">Listar</a></li>
            <li><a href="{% url 'justificativas:justificativa_create' %}">Nova justificativa</a></li>
            <li><a href="{% url 'justificativas:tipo_justificativa' %}">Gerenciar tipos</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'calendario:feriados' %}">
            <i class="fa fa-fw fa-calendar"></i>
            <span class="nav-link-text">Calendário</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseRelatorios" data-parent="#collapseRelatorios">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Relatórios</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseRelatorios">
            <li><a href="{% url 'relatorios:busca_relatorio' %}">Relatório mensal</a></li>
            <li><a href="{% url 'relatorios:listagem_geral' %}">Listagem geral</a></li>
            <li><a href="{% url 'relatorios:busca_setor' %}">Relatório por setor</a></li>
          </ul>
        </li>              
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>

      <!-- TOPNAV -->
      <ul class="navbar-nav ml-auto">        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" href="#" data-toggle="dropdown">
            <i class="fa fa-fw fa-user"></i>
            <span class="d-lg-none">Usuário</span>
            <!--span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span-->
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">{{ user }}</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'accounts:edit_password' %}">
              <span>
                <strong>
                  <i class="fa fa-key"></i> Alterar senha</strong>
              </span>              
              <div class="dropdown-message small">Clique para alterar a senha do seu usuário</div>
            </a>
            <a class="dropdown-item" href="{% url 'accounts:logout' %}">
              <span>
                <strong>
                  <i class="fa fa-sign-out"></i> Sair do sistema</strong>
              </span>              
              <div class="dropdown-message small">Terminar a sessão atual</div>
            </a>  
          </div>
        </li>                
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
        {% if messages %}     
            {% for message in messages %}                
            <div id="alertMessages" style="display: none;">
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message|safe }}
                </div>
            </div>
            {% endfor %}       
        {% endif %}
        {% block content%}

        {% endblock %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small> © Biblioteca Central Zila Mamede - {% now "Y" %}</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
  </div>

  {% block scripts %}
        {% include "script.html" %}
  {% endblock %}

</body>

</html>
