{% load static %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Material kit resources  -->
<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'js/material.min.js' %}"></script>
<script src="{% static 'js/material-kit.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>