{% extends 'base.html' %}
{% load static %}
{% load filtros %}

{% load rules %}


{% block content %}

    {% load widget_tweaks %}
    {% load timedelta_filter %}
    {% has_perm 'justificativa.can_analyse' user object as can_analyse %}
    {% has_perm 'accounts.is_gestor' user object as is_gestor %}
    {% has_perm 'justificativa.justificativa_author' user object as justificativa_author %}

<div class="card mb-3">
    <div class="card-header">
      <i class="far fa-comment"></i> Justificativa de falta
    </div>
    <div class="card-body">     
        <div class="row">
            
            <div class="form-group col-md-12">
                <label>Período</label>
                <p>{{object.inicio|date:"d/m/Y"}} a {{object.termino|date:"d/m/Y"}} ({{numero_dias_falta}} dia{{numero_dias_falta|pluralize}})</p>
            </div>
        
            <div class="col-md-6">
                <div class="form-group">
                    <label>Bolsista</label>
                    <input type="text" class="form-control" value="{{object.vinculo.user}}" readonly="readonly">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Setor</label>
                    <input type="text" class="form-control" value="{{object.vinculo.setor}}" readonly="readonly">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Status</label>
                    <input type="text" class="form-control" value="{{object.get_status_display}}" readonly="readonly">
                </div>
            </div>
        
            <div class="col-md-12 text-justify">
                <div class="form-group">
                    <label>Descrição:</label>
                    <p>{{object.descricao}}</p>
                </div>
            </div>

            <div class="form-group col-md-12">
                {% if object.comprovante %}
                    <a href="{{ object.comprovante.url }}" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-paperclip fa-stack-1x"></i>                        
                    </span>
                    {{ object.comprovante|filename }}</a>
                {% else %}
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-paperclip fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <label>Nenhum comprovante</label>
                {% endif %} 
            </div>     
        </div>
       
        <hr>
        <h5>Análise da justificativa de falta</h5>
        {% if not object.usuario_analise %}
            {% if can_analyse %}                        
                <div class="content">
                    <form action="#" method="post">
                         {% csrf_token %}
                         {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>{{ form.status.label }}</label>
                                {% render_field form.status class="form-control" %}
                                {% if form.status.errors %}
                                    <label class="text-danger">{{ form.status.errors.0 }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-6">
                                <label>{{ form.horas_abonadas.label }}</label>
                                {% render_field form.horas_abonadas class="form-control" %}
                                {% if form.horas_abonadas.errors %}
                                    <label class="text-danger">{{ form.horas_abonadas.errors.0 }}</label>
                                {% endif %}
                            </div>
                            <div class="form-group col-md-12">
                                <label>{{ form.parecer.label }}</label>
                                {% render_field form.parecer class="form-control" %}
                                {% if form.parecer.errors %}
                                    <label class="text-danger">{{ form.parecer.errors.0 }}</label>
                                {% endif %}
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn text-info" href="{% url 'justificativas:justificativas' %}">Voltar</a>
                            <button class="btn btn-info confirm-modal" data-toggle="modal" data-target="#confirmar_homologacao" type="button">Salvar</button>
                        </div>

                        <!-- Modal de confirmação -->
                        <div class="modal fade" id="confirmar_homologacao" tabindex="-1" role="dialog" style="display: none;">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">                                
                                <h4 class="modal-title" id="myModalLabel">Avaliação de justificativa de falta</h4>
                              </div>
                              <div class="modal-body">
                                Você deseja realmente homologar a justificativa? Esta operação não pode ser desfeita.
                                <br><br>
                                <b>Bolsista:</b> {{object.vinculo.user}}<br>
                                <b>Setor:</b> {{object.vinculo.setor}}<br>
                                <b>Período:</b> {{object.inicio|date:"d/m/Y"}} à {{object.termino|date:"d/m/Y"}} <b class="text-danger">({{numero_dias_falta}} dia{{numero_dias_falta|pluralize}})</b><br><br>
                                Horas abonadas: <h5 class="text-danger" id="horas_abonadas_modal"></h5><br>
                                <input type="checkbox" id="confirma_leitura"> Confirmo estar de acordo com as informações acima
                              </div>
                              <div class="modal-footer">
                                <a href="#" class="btn text-info" data-dismiss="modal">Cancelar</a>
                                <button type="submit" id="botao_confirmar" class="btn btn-danger" disabled>Confirmar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Fim do modal-->
                    </form>                            
                </div>                        
            {% else %}
                <div class="content">
                    <div class="alert alert-warning">
                        <span>Aguardando análise da chefia</span>
                    </div>
                </div>
                {% if justificativa_author %}
                    <div class="text-center">
                        <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#confirmar_exclusao">Cancelar justificativa</a>
                    </div>

                    <div class="modal fade" id="confirmar_exclusao" tabindex="-1" role="dialog" style="display: none;">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">                                
                            <h4 class="modal-title" id="myModalLabel">Cancelamento de justificativa</h4>
                          </div>
                          <div class="modal-body">
                            Você deseja realmente cancelar a justificativa de falta? Esta operação é irreversível.
                          </div>
                          <div class="modal-footer">
                            <a href="#" class="btn text-info" data-dismiss="modal">Fechar</a>
                            <a href="{% url 'justificativas:justificativa_excluir' object.pk %}" class="btn btn-danger">Confirmar</a>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endif %}
            {%endif%}
        {% else %}                    
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Avaliado por</label>
                            <input type="text" class="form-control" value="{{ object.usuario_analise.user.name }}" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Horas abonadas</label>
                            <input type="text" class="form-control" value="{{ object.horas_abonadas }}" readonly="readonly">
                        </div>
                    </div>
                {% if object.parecer %}                    
                    <div class="col-md-8 text-justify">
                        <div class="form-group">
                            <label>Parecer da chefia:</label>
                            <p>{{object.parecer}}</p>
                        </div>
                    </div>
                {% endif %}  
                </div>  

                <div class="text-center">
                    <a href="#" class="btn text-info" onclick="window.history.back()">Voltar</a>
                    {% if is_gestor %}
                        <button class="btn btn-danger" data-toggle="modal" data-target="#confirmar_reabertura">Reabrir justificativa</button>                        
                    {% endif %}
                </div>

                {% if is_gestor %}
                <div class="modal fade" id="confirmar_reabertura" tabindex="-1" role="dialog" style="display: none;">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">                                
                        <h4 class="modal-title" id="myModalLabel">Reabertura de justificativa de falta</h4>
                      </div>
                      <div class="modal-body">
                        Você deseja realmente reabrir a justificativa de falta? A justificativa deverá ser reavaliada pela chefia do bolsista.
                      </div>
                      <div class="modal-footer">
                        <a href="#" class="btn text-info" data-dismiss="modal">Cancelar</a>
                        <a href="{% url 'justificativas:justificativa_reabrir' object.pk %}" class="btn btn-danger">Confirmar</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
            </div>
        {%endif%}
    </div>    
</div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.mask.js' %}"></script>

    {% has_perm 'justificativa.can_analyse' user object as can_analyse %}

    {% if can_analyse and not object.usuario_analise %}
        <script type="text/javascript">
          $(document).ready(function(){
             $('#id_horas_abonadas').mask('00:00:00', {reverse: true});

             $('#id_horas_abonadas').val('{{object.horas_sugeridas|timedelta:"{hours_total}:{minutes2}:{seconds2}"}}');

             $('.confirm-modal').on('click', function(){
                var _horas = $('#id_horas_abonadas').val();
                $("#horas_abonadas_modal").text(_horas);
             });

             $("#confirma_leitura").change(function(){
                if(this.checked){
                    $('#botao_confirmar').attr("disabled", false);                
                } else {
                    $('#botao_confirmar').attr("disabled", true);  
                }
             });
          });
        </script>
    {% endif %}
{% endblock %}