<h3>Uma nova justificativa de falta foi cadastrada</h3>
<br>
<p><strong>Bolsista:</strong> {{ justificativa.vinculo.user }} </p>
<p><strong>Setor:</strong> {{ justificativa.vinculo.setor }} </p>
<p><strong>Período:</strong> {{ justificativa.inicio }} a {{ justificativa.termino }}</p>

<p><strong>Descrição da justificativa:</strong> {{ justificativa.descricao|linebreaks }}</p>

<p>Para visualizar o item, acesse: {{ request.get_host }}{% url 'justificativas:justificativa_edit' justificativa.pk %}</p>

